*.exe
.gitignore
build/

# VSCode files
.vscode/

# Eclipse files
.settings/
.metadata/
bin/
.classpath
.project


# Java files
*.class

# Scala
.bsp/
scala-build/

# Python files

# C, C++ files
*.o
*.a

# Rust files

